
<section>

    <span class="mine-counter"> Mines placed {{minesPlaced}}</span>

    <article class="wrap-reset">
        <button class="square" *ngIf="isLose" (click)="reset()">:(</button>
        <button class="square" *ngIf="!isLose" (click)="reset()">:)</button>
    </article>

    <span class="mark-counter"> Flags placed {{flagsPlaced}}</span>
</section>

<select (change)="reset()" [(ngModel)]="gameSizeChosen">

    <option [value]="'beginner'">Beginner</option>
    <option [value]="'intermediate'">Intermediate</option>
    <option [value]="'expert'">Expert</option>

</select>

<section class="wrap-mine" [ngClass]="'win-' + isLose + ' win-type-' ">
    <div class="row" *ngFor="let row of mineData; let iRow = index">
        <button *ngFor="let cell of row; let iCol = index" class="square" [ngClass]="'mine-' + cell?.hasMine + ' mark-' + cell.markedAs +
    ' uncovered-' + cell.uncovered + ' cell-num-adj-' + cell.numAdjMines  " (click)="goTurn(iRow, iCol )"
            (mouseup)="onMiddleClick($event, iRow, iCol)" (contextmenu)="onRightClick(iRow, iCol)">
        </button>
    </div>
</section>